<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.column.roar"
    android:installLocation="auto"
    android:requestLegacyExternalStorage="true"
    android:versionCode="15"
    android:versionName="1.0.4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.column.roar.HousingApplication"
        android:allowBackup="true"
        android:icon="@drawable/emma_playstore_christmas1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roar_one"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoarHousing"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5438024144140054~2526356371" />

        <activity
            android:name="com.column.roar.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.column.roar.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="false">
            <nav-graph android:value="@navigation/main_nav" />
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:hardwareAccelerated="true"
                    tools:targetApi="honeycomb" />
                <!--            <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <service
            android:name="com.column.roar.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_100" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_emma_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/lodges_notification_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.products_notification_channel"
            android:value="@string/product_notification_channel_id" />

    </application>

</manifest>
